:root {
  --size: 30rem;
  --halfsize: 15rem;
  --halfsizen: -15rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 73%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(94, 92, 92, 0.2)),
    url(images/bg.jpg) center no-repeat;
  background-size: cover;
  perspective: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 100rem;
}

#author {
  margin-right: 3rem;
  font-family: Ink free, cursive, "Dekko", sans-serif;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0.25rem;
  color: #fff;
  margin: auto 3rem 3rem auto;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.5),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 1), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0) 70.71%);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
  font-style: italic;
}

#inner-cube,
#outer-cube,
#center-cube,
b.ball {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform-style: preserve-3d;
}

#center-cube div {
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.5),
      s rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0) 70.71%);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
#inner-cube div {
  position: absolute;
  width: var(--halfsize);
  height: var(--halfsize);
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.5),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0) 70.71%);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

#outer-cube div {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.5),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0) 70.71%);
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.4);
  /*border-radius: 50%;*/
}

.center-back {
  transform: translateZ(-3.75rem) rotateY(180deg);
}

.inner-back {
  transform: translateZ(-7.5rem) rotateY(180deg);
}

.back {
  transform: translateZ(var(--halfsizen)) rotateY(180deg);
}

.center-right {
  transform: rotateY(-270deg) translateX(3.75rem);
  transform-origin: top right;
}

.inner-right {
  transform: rotateY(-270deg) translateX(7.5rem);
  transform-origin: top right;
}

.right {
  transform: rotateY(-270deg) translateX(var(--halfsize));
  transform-origin: top right;
}

.center-left {
  transform: rotateY(270deg) translateX(-3.75rem);
  transform-origin: center left;
}

.inner-left {
  transform: rotateY(270deg) translateX(-7.5rem);
  transform-origin: center left;
}

.left {
  transform: rotateY(270deg) translateX(var(--halfsizen));
  transform-origin: center left;
}

.center-top {
  opacity: 0;
  transform: rotateX(-90deg) translateY(-3.75rem);
  transform-origin: top center;
}

.inner-top {
  opacity: 0;
  transform: rotateX(-90deg) translateY(-7.5rem);
  transform-origin: top center;
}

.top {
  opacity: 1;
  transform: rotateX(-90deg) translateY(var(--halfsizen));
  transform-origin: top center;
}

.center-bottom {
  transform: rotateX(90deg) translateY(3.75rem) translateZ(-21.25rem);
  transform-origin: bottom center;

  background-color: rgba(51, 39, 39, 0.9) !important;

  filter: blur(25px);
  -webkit-filter: blur(25px);
}

.inner-bottom {
  transform: rotateX(90deg) translateY(7.5rem) translateZ(-17.5rem);
  transform-origin: bottom center;

  background-color: rgba(94, 89, 89, 0.9) !important;

  filter: blur(25px);
  -webkit-filter: blur(25px);
}

.bottom {
  transform: rotateX(90deg) translateY(var(--halfsize)) translateZ(-10rem);
  transform-origin: bottom center;
  background-color: rgba(59, 54, 54, 0.9) !important;
  filter: blur(25px);
  -webkit-filter: blur(25px);
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.6);
}

.center-front {
  transform: translateZ(3.75rem);
  transform-style: preserve-3d;
}

.inner-front {
  transform: translateZ(7.5rem);
  transform-style: preserve-3d;
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateZ(var(--halfsize));
  transform-style: preserve-3d;
}

b.ball {
  display: block;
  width: 10px;
  height: 10px;
  margin:  auto 0;
  opacity: 0.35;
 /* animation: zoom-in-zoom-out 1s ease infinite;*/
 background: radial-gradient(
  circle at 65% 15%, 
  rgb(248, 242, 242) 0.5px,
  rgb(168, 228, 79) 3%, 
  rgb(40, 3, 4) 60%,
  rgb(1, 1, 10) 100%); 
       
 border-radius: 50%;

} 
/*
@keyframes zoom-in-zoom-out{
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(5, 5);
  }
  100% {
    transform: scale(1, 1);
  }
}*/


/* keyframes moved to JS*/
/* @keyframes spin-center {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@keyframes spin-inner {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
} */

/* @keyframes spin-outer {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
} */
