:root {
  --size: 30rem;
  --halfsize: 15rem;
  --halfsizen: -15rem;
  --bgform: rgba(142, 216, 210, 0.2);
  --deg: 0deg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

html {
  font-size: 73%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(31, 7, 7, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/bg.jpg) center no-repeat;
  background-size: cover;
  perspective: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 100rem;
  /* perspective-origin: 100% ; */
}

#cube {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* width: 100rem; */
  transform-style: preserve-3d;
  transition: transform 0.5s, left 0.5s;
}

#cube form {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: var(--bgform);
  box-shadow: 0.1rem 0.1rem 0.1rem #ccc inset, -0.1rem -0.1rem 0.1rem #ccc inset;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.sign-in {
  transform: translateZ(var(--halfsizen)) rotateY(180deg);
}
.sign-up {
  transform: rotateY(-270deg) translateX(var(--halfsize));
  transform-origin: top right;
}
.contact-us {
  transform: rotateY(270deg) translateX(var(--halfsizen));
  transform-origin: center left;
}
.top {
  transform: rotateX(-90deg) translateY(var(--halfsizen));
  transform-origin: top center;
}
.bottom {
  transform: rotateX(90deg) translateY(var(--halfsize)) translateZ(-10rem);
  transform-origin: bottom center;
  /*border-radius: 35% !important;*/
  background-color: rgba(94, 89, 89, 0.9) !important;
  box-shadow: none !important;
  /*transition: 0.4s ease-in-out transform, 0.4s ease-in-out;*/
  filter: blur(25px);
  -webkit-filter: blur(25px);
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;  */
  transform: translateZ(var(--halfsize));
  transform-style: preserve-3d;
  /* position: absolute; */
  background-color: var(--bgform);
}

.sign-up,
.sign-in,
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;  */

  /* position: absolute; */
  background-color: var(--bgform);
}
form a {
  position: absolute;
  top: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--bgform);
  letter-spacing: 0.2rem;
}

.inputs-wrapper p {
  color: #fff;
  font-size: 150%;
  font-weight: 900;
  padding: 0.5rem 1rem;
  width: 25rem;
  height: auto;
  border: 0.2rem solid #fff;
  border-radius: 5rem;
  margin: 0.5rem 0;
  color: var(--bgform);
  background-color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  outline: none;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.signin-btnL,
.signup-btnL,
.menu-btnL,
.contact-btnL {
  left: 1rem;
  padding: 0.5rem 1rem 0.5rem 3rem;
  border-radius: 100% 0.5rem 0.5rem 100%;
}

.signin-btnR,
.signup-btnR,
.menu-btnR,
.contact-btnR {
  right: 1rem;
  padding: 0.6rem 3rem 0.5rem 1rem;
  border-radius: 0.5rem 100% 100% 0.5rem;
}

h2 {
  margin-top: 4rem;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.8);
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

#cube {
  animation: spin 5s linear infinite;

  /* transform: rotateY(var(--deg));*/
  /* transform-origin: bottom center; */
}
