:root {
  --size: 40rem;
  --halfsize: 20rem;
  --halfsizen: -20rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

html {
  font-size: 70%;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(31, 7, 7, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/bg.jpg) center no-repeat;
  background-size: cover;
  perspective: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 100rem;
  /*perspective-origin: 100% ;*/
}

.cube {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100rem;
  transform-style: preserve-3d;
}

.cube div {
  position: absolute;
  width: var(--size);
  height: var(--size);
  background-color: rgba(131, 122, 122, 0.5);
  box-shadow: 0.1rem 0.1rem 0.1rem #ccc inset, -0.1rem -0.1rem 0.1rem #ccc inset,
    rgba(27, 27, 27, 0.8) 0px 30px 20px -20px;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back {
  transform: translateZ(var(--halfsizen)) rotateY(180deg);
}
.right {
  transform: rotateY(-270deg) translateX(var(--halfsize));
  transform-origin: top right;
}
.left {
  transform: rotateY(270deg) translateX(var(--halfsizen));
  transform-origin: center left;
}
.top {
  transform: rotateX(-90deg) translateY(var(--halfsizen));
  transform-origin: top center;
}
.bottom {
  transform: rotateX(90deg) translateY(var(--halfsize)) translateZ(-10rem);
  transform-origin: bottom center;
  border-radius: 35% !important;
  background-color: rgba(94, 89, 89, 0.9) !important;
  box-shadow: none !important;
  /*transition: 0.4s ease-in-out transform, 0.4s ease-in-out;*/
  filter: blur(25px);
  -webkit-filter: blur(25px);
}
.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateZ(var(--halfsize));
  transform-style: preserve-3d;
  position: absolute;
}
.front a{
  position: absolute;
  top: 2rem;
  background-color: #fff;
  
  font-weight: 600;
  text-transform: uppercase;
  color: var(--bgform);
  letter-spacing: 0.2rem;
}


.signup-btn,
.menu-btn,
.contact-btn {
  left: 1rem;
  padding: 0.5rem 1rem 0.5rem 3rem;
  border-radius: 100% 0.5rem 0.5rem 100%;
  cursor: pointer;
}

.signin-btn,
.signup-btn1,
.menu-btn1 {
  right: 1rem;
  padding: 0.6rem 3rem 0.5rem 1rem;
  border-radius: 0.5rem 100% 100% 0.5rem;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.cube {
  animation: spin 5s infinite linear;
}
